<!Doctype html>
<html>
<head>
    <!--    the below is very important in order to have the display according to the device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="css/PreEventOrPostEvent.css" />
    <title>Events Report</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12 title">
            <h2>Events Report</h2>
        </div>
    </div>
    <div class="row blank"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="/preeventstudentForm">
                <button type="submit" class="btn btn-success ribbon">Pre-Event Form</button>
            </form>

            <form action="/posteventForm">
                <button type="submit" class="btn btn-info ribbon">Post-Event Form</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>
</body>
</html>